---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - metallb.yaml
  - descheduler.yaml
  - ../../controllers/traefik.yaml
  - ../../controllers/cert-manager-csi-driver.yaml
  - generic-device-plugin.yaml
  - images.yaml
patches:
  - path: traefik-values.yaml
    target:
      kind: HelmRelease
      name: traefik
