---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - metallb.yaml
  - descheduler.yaml
  - ../../controllers/traefik.yaml
  - ../../controllers/cert-manager-csi-driver.yaml
  - images.yaml
  - multus-cni.yaml
patches:
  - path: traefik-values.yaml
    target:
      kind: HelmRelease
      name: traefik
  - target:
      kind: DaemonSet
      name: kube-multus-ds
      namespace: kube-system
    patch: |-
      - op: replace
        path: /spec/template/spec/volumes/8/hostPath/path
        value: /var/run/netns/
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits
        value:
          cpu: 200m
          memory: 256Mi
      - op: replace
        path: /spec/template/spec/initContainers/0/resources/limits
        value:
          cpu: 200m
          memory: 256Mi
