---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  labels:
    app.kubernetes.io/sops: enabled
resources:
  - certificate.yaml
  - traefik.yaml
  - storage.yaml
  - wordpress.yaml
  - services_ext.yaml
  - ingress.yaml
  - semaphoreui.yaml
  - phpmyadmin.yaml
secretGenerator:
  - name: wp-sipwork-config
    namespace: flux-system
    files:
      - values.yaml=wp-secret-values.enc.yaml
  - name: semaphoreui-config
    namespace: flux-system
    files:
      - values-secret-semaphoreui.yaml=semaphoreui-secret-values.enc.yaml
configMapGenerator:
  - name: wp-sipwork-values
    namespace: flux-system
    files:
      - values-wp.yaml=wp-values.yaml
  - name: semaphoreui-values
    namespace: flux-system
    files:
      - values-semaphoreui.yaml=semaphoreui-values.yaml
configurations:
  - kustomizeconfig.yaml
