---
csiDriver:
  name: org.democratic-csi.node-manual
driver:
  config:
    driver: node-manual
controller:
  driver:
    enabled: true
  externalSnapshotter:
    enabled: false
  externalResizer:
    enabled: false
node:
  rbac:
    enabled: true
  enabled: true
  hostPID: true
  driver:
    extraEnv:
      - name: ISCSIADM_HOST_STRATEGY
        value: nsenter
      - name: ISCSIADM_HOST_PATH
        value: /usr/local/sbin/iscsiadm
    iscsiDirHostPath: /usr/local/etc/iscsi
    iscsiDirHostPathType: ''
