---
apiVersion: v1
kind: Namespace
metadata:
  name: traefik
  labels:
    toolkit.fluxcd.io/tenant: sre-team
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 24h
  url: https://traefik.github.io/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-crds
  namespace: flux-system
spec:
  interval: 30m
  targetNamespace: traefik
  serviceAccountName: helm-controller
  chart:
    spec:
      chart: traefik-crds
      version: 1.13.x
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      interval: 12h
  values:
    enabled: true
    traefik: true
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  driftDetection:
    mode: enabled
  interval: 30m
  releaseName: traefik
  targetNamespace: traefik
  serviceAccountName: helm-controller
  dependsOn:
    - name: traefik-crds
      namespace: flux-system
  chart:
    spec:
      chart: traefik
      version: 38.0.1
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      interval: 12h
  values:
    globalArguments:
      - --global.checknewversion
    additionalArguments:
      - --serversTransport.insecureSkipVerify=true
    ports:
      websecure:
        forwardedHeaders:
          trustedIPs: []
          insecure: true
      web:
        forwardedHeaders:
          trustedIPs: []
          insecure: false
    persistence:
      enabled: false
    tlsOptions:
      default:
        minVersion: VersionTLS12
        cipherSuites:
          - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384   # TLS 1.2
          - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305    # TLS 1.2
          - TLS_AES_256_GCM_SHA384                  # TLS 1.3
          - TLS_CHACHA20_POLY1305_SHA256            # TLS 1.3
        curvePreferences:
          - CurveP521
          - CurveP384
        sniStrict: true
      mintls13:
        minVersion: VersionTLS13
    providers:
      kubernetesCRD:
        enabled: true
        ingressClass: traefik
        allowCrossNamespace: true
        allowExternalNameServices: true
      kubernetesIngress:
        enabled: true
        allowExternalNameServices: true
        publishedService:
          enabled: false
    ingressRoute:
      dashboard:
        enabled: false
    logs:
      general:
        level: INFO
        format: json
      access:
        enabled: true
        format: json
    metrics:
      prometheus:
        addEntryPointsLabels: true
        addRoutersLabels: true
        addServicesLabels: true
        service:
          enabled: true
        disableAPICheck: false
        serviceMonitor:
          enabled: true
          metricRelabelings:
            - sourceLabels: [__name__]
              separator: ;
              regex: ^fluentd_output_status_buffer_(oldest|newest)_.+
              replacement: $1
              action: drop
          relabelings:
            - sourceLabels: [__meta_kubernetes_pod_node_name]
              separator: ;
              regex: ^(.*)$
              targetLabel: nodename
              replacement: $1
              action: replace
          interval: 30s
          honorLabels: true
        prometheusRule:
          enabled: true
          rules:
            - alert: TraefikDown
              expr: up{job="traefik"} == 0
              for: 5m
              labels:
                context: traefik
                severity: warning
              annotations:
                summary: Traefik Down
                description: '{{ $labels.pod }} on {{ $labels.nodename }} is down'
    extraObjects:
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: redirectscheme
          namespace: traefik
        spec:
          redirectScheme:
            scheme: https
            permanent: true
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: internal-ipallowlist
          namespace: traefik
        spec:
          ipAllowList:
            sourceRange:
              - 127.0.0.1/32
              - 10.10.0.0/24
              - 10.10.1.0/24
              - 10.2.0.0/24
              - 192.168.3.0/24
              - 192.168.2.0/24
              - 192.168.4.0/24
